body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(70, 169, 255);
  background-size: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

nav a:hover{
  color:rgb(209, 255, 23);
}

.home img {
  height:250px;
}

.home-buttons button{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.about a{
  color:rgb(70, 169, 255);
}

.haydie img{
  height: 200px;

}

.signin{
  height: 170px;
  width: 200px;
  border: 2px solid rgb(70, 169, 255);
  margin: auto;
  padding-top: 15px;
  margin-bottom: 10px;
  font-family: 'Play', sans-serif;
}


.signin input{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Play', sans-serif;
}

.register-b{
  margin: auto;
}

button{
  height: 30px;
  width: 75px;
  background-color: rgb(70, 169, 255);
  color: white;
  border-radius: 6px;
  font-family: 'Play', sans-serif;
}

button:hover{
  background-color: white;
  color:rgb(70, 169, 255);
}

.signup{
  height: 240px;
  width: 200px;
  border: 1px solid rgb(70, 169, 255);
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
}

.signup input{
  margin-top: 10px;
  margin-bottom: 10px;
}

.choose button{
  height: 40px;
  width: 80px;
 position: absolute;
 top: 100px;
 right: 210px;
}

.delete button{
  height: 40px;
  width: 80px;
  position: absolute;
  top: 170px;
  right: 210px;
}

.console-pet img{
  height: 280px;
  position:absolute;
  left: 510px;
  top: 260px;
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
     transform: translate(0, 10px);
  }
}

.console img{
  margin-top: 20px;
  height: 600px;
  margin-bottom: 20px;
  position: relative;
  
}


.left-button{
  height: 35px;
  width: 25px;
  background-color: aquamarine;
  position: absolute;
  right: 665px;
  top: 455px;
}

.right-button{
  height: 35px;
  width: 25px;
  background-color:rgb(209, 255, 23);
  position: absolute;
  right: 570px;
  top: 455px;
}

.surprise-button{
  height: 20px;
  width: 30px;
  background-color: blueviolet;
  position: absolute;
  left: 660px;
  top: 205px;
}

.gameplay button{
  height: 45px;
  width: 100px;
  margin-top: 20px;
}

.choose-pet h2{
  margin-bottom: 30px;
}

.name-change h2{
  margin-bottom: 30px;
}

.name-form {
  margin: auto;
  height: 100px;
  width: 250px;
  border: 1px solid rgb(70, 169, 255);
}

.name-form input{
  margin-top:20px;
  margin-left: 5px;
}

.pet-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 450px;
  margin: auto;
}

.tanuki-create{
  margin-right: 10px;
  height: 150px;
  border: solid rgb(23, 255, 104) 1px;
  border-radius: 200px;
  margin-bottom: 10px;
}

.tanuki-create:hover{
  background-color:rgb(23, 255, 104) ;
}

.tanuki-create img{
  height: 200px;
}

.kappa-create{
  margin-right: 10px;
  height: 150px;
  border: solid rgb(23, 255, 104) 1px;
  border-radius: 200px;
  margin-top: 10px;
}

.kappa-create:hover{
  background-color:rgb(23, 255, 104) ;
}

.kappa-create img{
  height: 200px;
  
}

.canti-create{
  margin-left: 10px;
  height: 150px;
  border: solid rgb(23, 255, 104) 1px;
  border-radius: 200px;
  margin-top: 10px;
}

.canti-create:hover{
  background-color:rgb(23, 255, 104) ;
}

.canti-create img{
  height: 150px;
}

.kitsune-create{
  margin-left: 10px;
  height: 150px;
  border: solid rgb(23, 255, 104) 1px;
  border-radius: 200px;
}

.kitsune-create:hover{
  background-color:rgb(23, 255, 104) ;
}

.kitsune-create img{
  height: 150px;
}


@media only screen
and (device-width: 414px)
and (device-height: 896px)
{
  /* console page */

  .console-pet img{
    height: 200px;
    position:absolute;
    left: 40px;
    top: 165px;
    animation: float 3s ease-out infinite;
  }
  
  @keyframes float {
    50% {
       transform: translate(0, 10px);
    }
  }

  .console img{
    margin-top: 30px;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    
  }

  .left-button{
    height: 35px;
    width: 25px;
    background-color: aquamarine;
    position: absolute;
    right: 168px;
    top: 285px;
  }
  
  .right-button{
    height: 35px;
    width: 25px;
    background-color:rgb(209, 255, 23);
    position: absolute;
    right: 105px;
    top: 285px;
  }
  
  .surprise-button{
    height: 15px;
    width: 20px;
    background-color: blueviolet;
    position: absolute;
    left: 125px;
    top: 120px;
  }

/* choose pet page */

  .pet-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 350px;
    margin: auto;
  }
  
  .tanuki-create{
    margin-right: 10px;
    height: 100px;
    border: solid rgb(23, 255, 104) 2px;
    border-radius: 200px;
    margin-bottom: 10px;
  }
  

  
  .tanuki-create img{
    height: 100px;
  }
  
  .kappa-create{
    margin-right: 10px;
    height: 100px;
    border: solid rgb(23, 255, 104) 2px;
    border-radius: 200px;
    margin-top: 10px;
  }
  
 
  
  .kappa-create img{
    height: 100px;
    
  }
  
  .canti-create{
    margin-left: 10px;
    height: 100px;
    border: solid rgb(23, 255, 104) 2px;
    border-radius: 200px;
    margin-top: 10px;
  }
  
  
  .canti-create img{
    height: 75px;
  }
  
  .kitsune-create{
    margin-left: 10px;
    height: 100px;
    border: solid rgb(23, 255, 104) 2px;
    border-radius: 200px;
  }
  
  
  .kitsune-create img{
    height: 75px;
  }
}